<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>KEYAKIの掲示板</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <%= favicon_link_tag('favicon.ico') %>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js">
    $(function(){ // if document is ready
      alert('jQuery is ready.')
    });
    </script>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    
  </head>
  <body>
    <header>
      <nav class="navbar navbar-expand-sm navbar-dark bg-dark mb-4" style="background-color:">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav4" aria-controls="navbarNav4" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand" href="/homes/">KEYAKIの掲示板</a>
        <div class="collapse navbar-collapse">
            <ul class="navbar-nav ml-auto d-flex align-items-center ">
              <% if @current_user %>
                <li class="nav-item mx-1 fc-w">
                    <%= link_to @current_user.name,user_path(@current_user)%>
                </li>
                <li class="nav-item mx-1 fc-w">
                  <a href="#" id="logout">ログアウト</a> 
                    <%#= link_to"ログアウト",logout_path,method: :post %>
                </li>
                <li class="nav-item mx-1 fc-w">
                    <a class="nav-link">検索</a>
                    <%= form_tag search_homes_path,method: :get do%>
                      <%= select_tag(:option, options_for_select([["スレッド","1"],["コメント","2"]]))%>
                      <%=text_field_tag :search %>
                      <%= submit_tag "検索", name: nil %>
                    <% end %>
                </li>
              <% else %>
                <li class="nav-item mx-1 fc-w">
                    <%= link_to "新規ユーザー登録",new_user_path %>
                </li>
                <li class="nav-item mx-1 fc-w">
                    <%= link_to "ログイン",login_form_path %>
                </li>
                <li class="nav-item mx-1 fc-w">
                    <%= link_to "ゲストログイン",guest_login_path %>
                </li>
                <li class="nav-item mx-1 fc-w">
                    <a class="nav-link">検索</a>
                    <%= form_tag homes_path,method: :get do%>
                      <%= select_tag(:option, optoins_for_select([["スレッド","1"],["コメント","2"]]))%>
                      <%=text_field_tag :search %>
                      <%= submit_tag "検索", name: nil %>
                    <% end %>
                </li>
              <% end %>
            </ul>
        </div>
      </nav> 

    </header>
    <% if flash[:notice] %>
      <div class="flash">
        <%= flash[:notice] %>
      </div>
    <% end %>
    <%= yield %>

    <div class="modal-wrapper" id="logout-modal">
      <div class="">
        <div class="close-modal">
          <i class="fa fa-2x fa-times"></i>
        </div>
        <div id="login-form">
          <h2>ログアウトしますか</h2>
          <div class="yes-no">
            <%= link_to("はい","/logout",{method:"post"})%>
          </div>
          <div id="logout-no" class="yes-no">
            <a>いいえ</a>
          </div>
        </div>
      </div>
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>


